<%-include('../cabecalho.ejs')%>
<h1>ADICIONAR ABRIGO</h1>
<div>
<a href="/abrigo/lst">LISTAR</a>
</div>
<div>
    <form  method="post">
        <label>Nome:</label>
        <input type="text" name="nome"><br>
         <label>Endereço:</label>
        <input type="text" name="endereco"><br>
        <label>Telefone:</label>
        <input type="text" name="telefone"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
       
        <button type="submit">Salvar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>